# If UTF-8 files still show up as binary, run "git config --global diff.utf16diff.textconv 'iconv -f utf-16 -t utf-8 --'"
[attr]utf16 diff merge diff=utf16diff

creategameprojects text
createallprojects text
xcode_ccache_wrapper text
vpc text
vpc_linux binary
vpc_osx binary

*.sh text
*.bat text
*.txt text
*.c text
*.h text
*.H text
*.cc text
*.cpp text
*.vpc text
*.vgc text
*.nut text
*.awk text
*.pl text
*.py text
*.xcconfig text
*.vcd text
*.vbsp text
*.proto text
*.inc text
*.fxc text
*.vsh text
*.lst text
*.mm text
*.cfg text
*.res text
*.rc text
*.def text
*.vmt text
*.inl text
*.asm text

.gitignore text
sourcesdk_def.mak text
smdlexp.mak text
README text
CONTRIBUTING text
LICENSE text

*.exe binary
protoc binary
ccache binary

gtest_output_test_golden_lin.txt binary
mod_*_english.txt binary

mp/game/** -text
mp/game/dab/resource/dab_*.txt utf16
mp/game/**/*.bsp filter=lfs diff=lfs merge=lfs -text
mp/game/**/*.nav filter=lfs diff=lfs merge=lfs -text
mp/game/**/*.vtf filter=lfs diff=lfs merge=lfs -text
mp/game/**/*.mdl filter=lfs diff=lfs merge=lfs -text
mp/game/**/*.vvd filter=lfs diff=lfs merge=lfs -text
mp/game/**/*.wav filter=lfs diff=lfs merge=lfs -text
mp/game/**/*.mp3 filter=lfs diff=lfs merge=lfs -text
mp/game/**/*.ttf filter=lfs diff=lfs merge=lfs -text
mp/game/**/*.TTF filter=lfs diff=lfs merge=lfs -text
mp/game/**/*.tga filter=lfs diff=lfs merge=lfs -text
mp/game/**/*.pcf filter=lfs diff=lfs merge=lfs -text
mp/game/**/*.vtx filter=lfs diff=lfs merge=lfs -text
mp/game/**/*.phy filter=lfs diff=lfs merge=lfs -text
mp/game/**/*.ico filter=lfs diff=lfs merge=lfs -text
mp/game/**/*.jpg filter=lfs diff=lfs merge=lfs -text
mp/game/**/*.raw filter=lfs diff=lfs merge=lfs -text
mp/game/**/*.dll filter=lfs diff=lfs merge=lfs -text
mp/game/**/*.vcs filter=lfs diff=lfs merge=lfs -text
mp/game/**/*.exe filter=lfs diff=lfs merge=lfs -text
mp/game/**/*.cache filter=lfs diff=lfs merge=lfs -text
