"appbuild"
{
	"appid" "@@@APP_ID@@@"
	"desc" "@@@DESCRIPTION@@@" // description for this build
	"buildoutput" "logfiles" // build output folder for .log, .csm & .csd files, relative to location of this file
	"setlive" "@@@BRANCH_NAME@@@" // branch to set live after successful build, non if empty
	"preview" "0" // to enable preview builds
	"local" "" // set to file path of local content server

	"depots"
	{
		"@@@DEPOT_ID@@@" "depot.vdf"
	}
}
